#header{
    height: 100px;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar{
    height: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}
#image{
    margin: auto;
    width: 600px;
    height: 600px;
    background-color: green;
}